<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoImpl" class="com.spring5.dao.UserDaoImpl"/>
    <bean id="userMySqlDaoImpl" class="com.spring5.dao.UserMySqlDaoImpl"/>
    <bean id="userOracleDaoImpl" class="com.spring5.dao.UserOracleDaoImpl"/>
    <bean id="userServiceImpl" class="com.spring5.service.UserServiceImpl">
       <property name="userDao" ref="userDaoImpl" />
    </bean>
</beans>