<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="applicationContext1.xml"/>

    <bean id="user" class="com.spring5.pojo.User" name="user2,user3">
        <property name="name" value="angus"/>
        <constructor-arg name="name" value="zhubin"/>
    </bean>
    <alias name="user" alias="user1"/>
    <bean id="user" class="com.spring5.pojo.User" name="user2,user3">
        <property name="name" value="angus1"/>
        <constructor-arg name="name" value="zhubin1"/>
    </bean>

<!--    <bean id="user" class="com.spring5.pojo.User">
        <constructor-arg index="0" value="zhubin"/>
    </bean>-->

<!--    <bean id="user" class="com.spring5.pojo.User">
        <constructor-arg type="java.lang.String" value="zhubin"/>
    </bean>-->
</beans>